/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-josephin-sans);
  background-color: #c96028;
  background-position: 50% 0%;
  
}

@media (min-width:641px) {
  body {
    background-size: 100% auto;
    background-image: url('/img/bg.jpg');
  }
}

@media (max-width: 640px) {
  body {
    background-size:100% auto;
    background-image: url('/img/mobilebg.png');
  }
}

h1, h2, h3 {
  font-family: var(--font-tan-spring);
} 

h1 {
  font-size: 64pt;
}
h2 {
  font-size: 48pt;
}
h3 {
  font-size: 32pt;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.social-icon:focus{
  outline: solid;
}

.purple-wave {
  background-image: url('/img/purplewave.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  
}

.purple-wave-trans {
  background-image: url('/img/purplewave_trans.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  
}


footer {
  background-image: url('/img/footer-wave.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
